<!doctype html>
<html lang="en" ng-app="LunchCheck">
<head>
	<title>Lunch Checker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<style>
		.message { font-size: 1.3em; font-weight: bold; }
		.food { color: green; border: 1px solid green; border-radius: 5px; padding: 5px; }
		.noFood  { color: red; border: 1px solid red; border-radius: 5px; padding: 5px; }
		.noMessage { border: 0; }
	</style>
</head>
<body>
	<div class="container" ng-controller="LunchCheckController">
		<h1>Lunch Checker</h1>
		<div class="form-group">
			<input id="lunch-menu" type="text"
			placeholder="list comma separated dishes you usually have for lunch"
			class="form-control" ng-model="lunch">
		</div>
		<div class="form-group">
			<button class="btn btn-default" ng-click="checkMyLunch()">Check If Too Much</button>
		</div>
		<div class="form-group message" 
		ng-class="{'noFood': !isLunch, 'food': isLunch, 'message': !empty, 'noMessage': empty}">
			{{message}}
		</div>
	</div>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
